.video-play {
  width: 100px;
height: 100px;
background-color: #000000;
opacity: 0.2;
border-radius: 50%;}
.video-icon {
  width: 30px;
height: 30px;
}
.video-waxom {
  position: relative;

}
.cover-video {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
