*, *::before, *::after {
  box-sizing: border-box;
}

html {
  line-height: 1.5;
  background: #fff;
  color: #000;
}

body {
  margin: 0;

}

.container {
  padding: 0 10px;
  max-width: 1170px;
  margin: 0 auto;
}

img {
  width: 100%;
  height:auto;
}

.logo {
  display: inline-block;
}

.nav-item, .link , .logo-name {
  color: white;
  text-decoration: none;
}

.nav-item:hover,.link:hover, .home-nav:hover, .logo:hover {
  transition: all 1s ease-out;
  cursor: pointer;
  color: #c7b299;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0 0 0.67em 0;
}

* + h1, * + h2, * + h3,* + h4,* + h5,* + h6 {
  margin:0.67em 0 0 0;
}

p, ul, ol, figure {
  margin: 0 0 15px 0;
}

* + p, * + ul, * + ol, * + figure{
  margin-top: 15px;
}

ul > li > ol,
ul > li > ul,
ol > li > ul,
ol > li > ol {
  margin: 0;
}
