.card {
 display: flex;
 align-items: center;
 flex-direction: column;
 padding: 20px 0px;
 border-bottom: solid 0.2px gray;
}
.card .card-header {

}
.card .card-body {

}
.card .card-icon {
  font-size: 30px;
  width: 30px;
  height: 30px;
}
.card .card-title {
  padding-top: 10px;
  color: #555555;
  font-family: Raleway;
  font-size: 19px;
  font-weight: 400;
}
.card .card-description {
  margin: 0;
  text-align: center;
  color: #8c8c8c;
  font-family: Montserrat;
  font-size: 10px;
  font-weight: 300;
  line-height: 24px;
}

.card-portfolio .card-title {

}
.card-decoration {
  width: 50px;
  height: 30px;
  background-color: transparent;
}

.card-link {
  color: black;
}

.card-link:hover {

  cursor: pointer;
  color: #c7b299;
  text-decoration: none;
}
.s-a:hover .card-decoration {
  display: flex;
  border-bottom: solid 1px  #c7b299;
}
.s-a:hover .card-icon {
  color: #c7b299;
}
.uk-card>*{
  border: none;
}
@media (min-width: 600px) {
  .section-a>.container {
    display: flex;
    padding: 0 20px;
  }
  .container> .s-a {
    border:none;
    margin-top: 50px;
  }
  .uk-card{

    box-shadow: none;
  }
  .card.s-a {
      width: 166px;
    }
  .uk-grid>* {
    padding-left: 61px;
}
}
