.card {
  position: relative;
  width: 100%;
 display: flex;
 align-items: center;
 flex-direction: column;
 border-bottom: solid 0.2px gray;
}
.card .card-header {

}
.card .card-body {

}
.card .card-icon {
  font-size: 30px;
  width: 30px;
  height: 30px;
}
.card .card-title {
  padding-top: 10px;
  color: #555555;
  font-family: Raleway;
  font-size: 19px;
  font-weight: 400;
}
.card .card-description {
  margin: 0;
  color: #8c8c8c;
  font-family: Montserrat;
  font-size: 10px;
  font-weight: 300;
  line-height: 24px;
}

.card-portfolio .card-title {

}
.card-decoration {
  width: 50px;
  height: 30px;
  background-color: transparent;
}

.card-link {
  color: black;
}

.card-link:hover {

  cursor: pointer;
  color: #c7b299;
  text-decoration: none;
}
.s-a:hover .card-decoration {
  display: flex;
  border-bottom: solid 1px  #c7b299;
}
.s-a:hover .card-icon {
  color: #c7b299;
}
.uk-card>*{
  border: none;
}
.card-icon-sd {
  width: 20px;
  margin: 0 5px;
}
.uk-inline-clip> .card-img {
  position: relative;
  top:0;
  bottom: 0;
  right: 0;
  left: 0;
}
.uk-text-center:hover .cover-img {
  visibility: visible;
}
.cover-img {
  visibility: hidden;
display: block;
background-color: black;
position: absolute;
top: 0;
bottom: 0;
right: 0;
left: 0;
opacity: 0.5;
z-index: 2;
}

.card-icon-sd:hover {
  opacity: 0.6;
}

figure {
  position: relative;
  margin: 0;
}

.card-image >img {

  display: block;
  height: 237px;
  object-fit: cover;
}
.card-body>p {
  margin: 0;
}
.card-body {
  z-index: 1;
  background-color: #fbfaf8;
  width: 100%;
}
.card-body>p {
  text-align: left;
  padding-left: 10px;
}
.card:hover .dark-cover{
  display: block;
}
.card:hover .sd-title{
  color: #ffffff;
font-family: Raleway;
font-weight: 500;
}
.card:hover .sd-description{
color: #c7b299;
font-family: Montserrat;
font-size: 10px;
font-weight: 300;
line-height: 20px;
}
.cover-img {
  display: none;
  z-index: 999;
  position:absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.dark-cover {
  z-index: 0;
  display:none;
  background: black;
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 19%;
  right: 0;
  position: absolute;
  overflow: hidden;
}


.uk-flex {
  flex-wrap: wrap;
}
.uk-margin-left {
  margin-left: 0!important;
}
.card:hover .card-body {
  background-color: #362f2d;
}
.card-title {
  padding-top: 10px;
}
.card-description {
  margin: 0;
}
.card-body {
  padding: 10px 0;
}
@media (min-width: 600px) {
  .uk-flex-center {
    flex-wrap: wrap;
  }
  .uk-card {
    width: 33.33%;
  }
  .section-a>.container {
    display: flex;
    padding: 0 20px;
  }
  .container> .s-a {
    border:none;
    margin-top: 50px;
  }
  .uk-card{

    box-shadow: none;
  }
  .card.s-a {
      width: 166px;
    }
  .uk-grid>* {
    padding-left: 61px;
}

}
