.header {
  padding-top: 20px;
  position: relative;
}
.container-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}
.logo {
  display: flex;
}
.logo-name {
font-family: Raleway;
font-size: 20px;
font-weight: 400;
letter-spacing: -1.36px;
padding-right: 30px;
}
.logo-img {
width: 30px;
height: 30px;
}
.logo-img:hover {
  transform: rotate(180deg);
  transition: all 1s ease-out;
}
.header-icons {
  display: flex;
  justify-content: center;
}
.header-icons>li {
  padding: 0 14px;
  list-style-type: none;
}
ul.header-icons {
  padding: 0;
  margin: 0;
}
.header-icons>img{
  width: 100px;
  height: 100px;
}
@media (min-width: 320px) {
  .uk-button .burger-img {
    width: 20px;
    height: 20px;
  }
  .header-icon {
  width: 18px;
  height: 24px;
  }
}
