.nav-items {
  display: none;
  margin: 0;
}
.nav-items>li {
font-family: Montserrat;
font-size: 14px;
font-weight: 400;
padding: 0 15px;
list-style: none;
color: black;
}

.home-nav {
color: #c7b299;
}
.uk-offcanvas-bar {
  width: 134px;
}
.uk-offcanvas-bar ul {
  display: block;
}
.burger-img {
  width: 18px;
  height: 18px;
}
.uk-offcanvas-bar li {
  padding: 20px 0;
  border-top: solid 1px white;
}
.uk-offcanvas-bar ul {
  padding: 0;
}
.uk-offcanvas-bar {
}
@media (min-width: 600px) {
  .nav-items {
    display: flex;
    flex-wrap: wrap;
  }
  .header .uk-button{
    display: none;
  }
  .container {
    padding: 0;
  }
  .container .uk-position-relative .uk-slidenav-large {
    display: flex;
  }
  .container .hero-foreground {
    margin-top: 200px;
  }
  .hero-foreground .hero-under-title {
font-size: 36px;
  }
  .hero-foreground .hero-title {
font-size: 52px;
  }
  .hero-foreground .hero-description {
font-size: 16px;
  margin-bottom: 70px;
  }
  .header-left .logo-img {
    width: 64px;
height: 56px;
  }
  .header-left .logo-name {
    font-size: 34px;
  }
  .main-button {

    width: 170px;
    height: 53px;
    color: #ffffff;
font-family: Raleway;
font-size: 14px;
font-weight: 400;
line-height: 23px;
text-transform: uppercase;
  }
}
