.section {
  margin-top: 50px;
  overflow: hidden;
}
.section-title {
  padding-top: 35px;
text-align: center;
color: #555555;
font-family: Raleway;
font-size: 20px;
font-weight: 600;
margin: 0;
}
.section-description {
  text-align: center;
  color: #8c8c8c;
  font-family: Montserrat;
  font-size: 10px;
  font-weight: 400;
  line-height: 28px;
}
.section-c {
  background-color: #f4f5f8;
  background-image: linear-gradient(to right, #211b19 0%, #4e3427 100%);
}
.brown-theme-title {
  padding-top: 20px;
  color: #ffffff;
font-family: Raleway;
font-size: 15px;
font-weight: 400;
}
.brown-theme-description {
  color: #615855;
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 300;
}
  .img-inline {
  padding-bottom: 20px;
  }
  .waxom-main-style {
    color: #c7b299;
  }
  .container-brown {
    padding-bottom: 20px;
  }
  .section-title>img {
    width: 500px;
    height: 100px;
  }
@media (min-width: 600px) {
  .section-description {
    margin: 0 auto;
    width: 600px;
  }
  .s-b-3 {
    z-index: -999;
    margin-left: -100px;
    position: relative;
  }
  .s-b-1 {
    z-index: -999;
    margin-left: 100px;
    position: relative;
  }
  .s-b-2>img {
    z-index: 999;

  }


  .img-inline {
    display: flex;
    align-items: flex-end;
    margin: 0 auto;
    padding: 0;
    }
    .container-brown {
       display: flex;
      justify-content: space-between;
      padding: 10px 0;
      align-items: center;
    }
    .container-left>p {
      margin-left: -40px;
    }

  }
